<div class="col-6">
  <h1>Creating emails and sending msgs</h1>
  <form [formGroup]="form">
    <input type="email" formControlName="email" name="email" placeholder="Enter your email ">
  </form>

  <!--<input type="text" [(ngModel)]="title" name="title" placeholder="Title..">-->
  <textarea [(ngModel)]="content" name="content" placeholder="Content.."></textarea>
  <input type="submit" value="Add a Post" [disabled]="!form.valid" (click)="addPost()">

  <ul *ngFor="let post of posts | async">
    <li>
      <br>
      {{post.content}}
      {{post.timeStamp}}
    </li>
  </ul>
</div>
